dataset_finance/output_files_org_v2/
dataset_finance/output_files_v2/log.csv
dataset_finance/output_files_v2/out_batch_1.csv
dataset_finance/output_files_v2/out_batch_10.csv
dataset_finance/output_files_v2/out_batch_11.csv
dataset_finance/output_files_v2/out_batch_12.csv
dataset_finance/output_files_v2/out_batch_13.csv
dataset_finance/output_files_v2/out_batch_14.csv
dataset_finance/output_files_v2/out_batch_15.csv
dataset_finance/output_files_v2/out_batch_16.csv
dataset_finance/output_files_v2/out_batch_17.csv
dataset_finance/output_files_v2/out_batch_18.csv
dataset_finance/output_files_v2/out_batch_19.csv
dataset_finance/output_files_v2/out_batch_2.csv
dataset_finance/output_files_v2/out_batch_20.csv
dataset_finance/output_files_v2/out_batch_21.csv
dataset_finance/output_files_v2/out_batch_22.csv
dataset_finance/output_files_v2/out_batch_23.csv
dataset_finance/output_files_v2/out_batch_24.csv
dataset_finance/output_files_v2/out_batch_25.csv
dataset_finance/output_files_v2/out_batch_26.csv
dataset_finance/output_files_v2/out_batch_27.csv
dataset_finance/output_files_v2/out_batch_28.csv
dataset_finance/output_files_v2/out_batch_29.csv
dataset_finance/output_files_v2/out_batch_3.csv
dataset_finance/output_files_v2/out_batch_30.csv
dataset_finance/output_files_v2/out_batch_31.csv
dataset_finance/output_files_v2/out_batch_32.csv
dataset_finance/output_files_v2/out_batch_33.csv
dataset_finance/output_files_v2/out_batch_34.csv
dataset_finance/output_files_v2/out_batch_35.csv
dataset_finance/output_files_v2/out_batch_36.csv
dataset_finance/output_files_v2/out_batch_37.csv
dataset_finance/output_files_v2/out_batch_38.csv
dataset_finance/output_files_v2/out_batch_39.csv
dataset_finance/output_files_v2/out_batch_4.csv
dataset_finance/output_files_v2/out_batch_40.csv
dataset_finance/output_files_v2/out_batch_41.csv
dataset_finance/output_files_v2/out_batch_42.csv
dataset_finance/output_files_v2/out_batch_43.csv
dataset_finance/output_files_v2/out_batch_44.csv
dataset_finance/output_files_v2/out_batch_45.csv
dataset_finance/output_files_v2/out_batch_46.csv
dataset_finance/output_files_v2/out_batch_47.csv
dataset_finance/output_files_v2/out_batch_48.csv
dataset_finance/output_files_v2/out_batch_49.csv
dataset_finance/output_files_v2/out_batch_5.csv
dataset_finance/output_files_v2/out_batch_50.csv
dataset_finance/output_files_v2/out_batch_51.csv
dataset_finance/output_files_v2/out_batch_52.csv
dataset_finance/output_files_v2/out_batch_53.csv
dataset_finance/output_files_v2/out_batch_54.csv
dataset_finance/output_files_v2/out_batch_55.csv
dataset_finance/output_files_v2/out_batch_56.csv
dataset_finance/output_files_v2/out_batch_57.csv
dataset_finance/output_files_v2/out_batch_58.csv
dataset_finance/output_files_v2/out_batch_59.csv
dataset_finance/output_files_v2/out_batch_6.csv
dataset_finance/output_files_v2/out_batch_60.csv
dataset_finance/output_files_v2/out_batch_61.csv
dataset_finance/output_files_v2/out_batch_62.csv
dataset_finance/output_files_v2/out_batch_63.csv
dataset_finance/output_files_v2/out_batch_64.csv
dataset_finance/output_files_v2/out_batch_65.csv
dataset_finance/output_files_v2/out_batch_7.csv
dataset_finance/output_files_v2/out_batch_8.csv
dataset_finance/output_files_v2/out_batch_9.csv
dataset_finance/output_files_v2/output_us_yfinance_v2.csv
dataset_finance/output_files_v3/
dataset_finance/output_us_yfinance.csv
dataset_finance/output_us_yfinance_v2.csv
dataset_finance/output_us_yfinance_v2_mod.csv
rough_work.txt